{{# partial "titulo" }}
	<title> Perfil de Usuario - QueComemos</title>
{{/partial}}

{{# partial "contenido" }}

<h1> Perfil de Usuario </h1>
<br>
<br>

	<body>
		<div class="container">
		<form action="/perfil" method= "GET">

			<div class="row">
  			<div class="col-md-6">
					<div>
						<label for="nombre">Nombre: </label> {{nombre}}
					</div>
					<div>
						<label for="sexo">Sexo: </label> {{sexo}}
					</div>
					<div>
						<label for="nacimiento">Fecha de nacimiento: </label> {{nacimiento}}
					</div>
					<div>
						<label for="altura">Altura: </label> {{altura}}
					</div>
					<div>
						<label for="peso">Peso: </label> {{peso}}
					</div>
					<div>
						<label for="imc">IMC </label> {{imc}} ({{salud}})
					</div>
					<div>
						<label for="rutina">Rutina: </label>{{rutina}}
					</div>
				</div>

					<div class="col-md-6">
						<div><label><h3>Condiciones</h3></label></div>
						
								{{#condiciones}}
								<ul><span style="font-size: 130%"><em>{{nombre}}</em></span></ul>
								{{/condiciones}}
						</select>
					</div>


			<div>
				<div class="row">
				<div class="col-md-12">
					<div class="col-md-6">
						
								<label><h3>Preferencias alimenticias</h3></label>

							{{#preferencias}}
								<ul><span style="font-size: 130%"><em>{{nombre}}</em></span></ul>
							{{/preferencias}}
					
					</div>
					<div class="col-md-6">
						
								<label><h3>Comidas que le disgustan</h3></label>
							
							{{#disgusta}}
							
								<ul><span style="font-size: 130%"><em>{{nombre}}</em></span><ul>
							
							{{/disgusta}}
					
					</div>
				</div>
				</div>
			</div>

		</div>
		
		{{#if recetasFav}}
		<div class="col-md-12">
		
		<h2> Recetas favoritas</h2>
		
		
			<table class="table table-bordered" >
					<hr>
						<td>Nombre</td>
						<td>Calorías</td>
						<td>Dificultad</td>
						<td>Temporada</td>
						
					</hr>
				{{#recetasFav}}
					<tr>
						<div class="list-group">
						    <td>{{nombreDelPlato}}</td>
							<td>{{totalCalorias}}</td>
							<td>{{Dificultad}}</td>
							<td>{{Temporada}}</td>
							<td><a href="/receta/{{id}}" class="btn btn-default"> Ver Receta </a></td>
							</div>
					</tr>
				{{/recetasFav}}
			</table>
		</div>
			{{else}}
		<br>
		<br>
  <h3>No tiene recetas favoritas</h3>
	<br>
    
  {{/if}}
	</form>
	</div>

	</body>

{{/partial}}

{{> layout.hbs }}
